@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&display=swap');

.App {
  text-align: center;
  background: purple;
  background-image: url("C:/Users/ayush/Desktop/ROSP/socket-chat-app/client/public/ranger-4df6c1b6.png");
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: 100% 100%;
  height: 100vh;
  margin-top: -25px;
  align-items: center;
  justify-content: center;
}

.login_page{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-top: 5%;
   font-family: 'Mochiy Pop P One', sans-serif;
}

.name{
  width: 20%;
  margin: 1%;
  padding: 0.8%;
  border: 2px solid black;
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 16px;
  
}

.id{
  width: 20%;
  margin: 1%;
  padding: 0.8%;
  border: 2px solid black;
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 16px;
}


  #join {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mochiy Pop P One', sans-serif;
    border-radius: 3%;
    width: 10%;
    margin: 2.5%;
    padding: 0.5%;
    background-color: black;
    border: 3px solid #050505;
    color: #ffffff;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
  }
  #join:hover {
    
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }