/* Set default styles for the body element */
body {
  margin: 0; /* Remove default margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Use system fonts for better cross-platform compatibility */
  -webkit-font-smoothing: antialiased; /* Improve font rendering on Webkit browsers like Chrome and Safari */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering on macOS in Firefox */
}

/* Set font family for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Use monospace font for code elements */
}
